let mapleader = "z" 
nmap zso :source C:\Users\kyo.lai82\.ideavimrc <CR>
map <leader>rt :action RenameElement<CR>
map <leader>rm :action ExtractMethod<CR>
map <leader>rp :action IntroduceParameter<CR>
map <leader>ri :action InlineVariable<CR>
map <leader>rv :action IntroVariable<CR>
map <leader>rf :action IntroduceField<CR>
map <leader>f :action GotoDeclaration<CR>
nmap <leader>cf :action GotoImplementation<CR>
nmap <leader>k :action Back<CR>
nmap <leader>j :action Forward<CR>
nmap gcc :action CommentByLineComment<CR>

nmap z" ci"
nmap z( ci(
nmap z[ ci[
nmap z{ ci{

imap jj <Esc>
nmap <BS> a<BS>
nmap hh ^
nmap <leader>h ^
nmap ll $
nmap <leader>d yyp